* {
    margin: 0px;
    padding: 0px;
}

#contentContainer {
    background-color: hsl(255, 7%, 22%);
}

body {
    background-color: purple;
}

.contentContainer {
    display: flex;
    flex-direction: column;
}

.calcBtn {
    padding: 20px;
}

.numBtn {
    background-color: blue;
}

.funcBtn {
    background-color: yellow;
}

.resultBtn {
    background-color: green;
}

.pressed {
    background-color: aliceblue;
}