* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

#calcBorder {
    background-color: hsl(164, 100%, 25%);
    width: 80vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5vh;
}

#calcBody {
    background-color: hsl(238, 41%, 23%);
    width: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5vh;
}

#displayContainer {
    background-color: hsl(259, 100%, 96%);
    width: 65vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 20vh;
    display: flex; /* center the display */
    align-items: center;
    justify-content: flex-start;
}

#divDisplay {
    color: rgb(0, 0, 0);
    width: 50vh;
    margin-left: 1vh;
}

#calcMeat {
    padding: 2.5vh;
    background-color: hsl(246, 37%, 65%);
    width: 60vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    /* first column is numDiv, second is funcDiv */
    grid-template-columns: 45vh 15vh;
    gap: 0.5vh;
}

#numDiv { /* 0-9 btns */
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(4, 15vh);
    gap: .5vh;
}

#btn0 { /* move the 0 to the bottom */
    grid-row: 4;
}

#btnEquals {
    grid-column: span 2;
    background-color: greenyellow;
}

#funcDiv {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(1, 12vh);
    grid-template-rows: repeat(5, 12vh);
    gap: .375vh;
}

body {
    background-color: rgb(5, 4, 5);
}

.calcBtn {
    border-radius: 10%;
}

.numBtn {
    background-color: hsl(240, 56%, 87%);
}

.funcBtn {
    border-radius: 50%;
    background-color: hsl(39, 100%, 50%);
}

.pressed {
    background-color: aliceblue;
}